<ngb-carousel #carousel [interval]="interval" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">
    @for (img of images; track img; let i = $index) {
    <ng-template ngbSlide>
        <div style="width: 100%; height: 80vh;">
            <img class="d-block object-fit-cover w-100" [src]="img" alt="My image {{ i + 1 }} description" />
        </div>
    </ng-template>
    }
</ngb-carousel>