<div style="height: 100vh;">
    <header class="d-flex flex-nowrap align-items-center" style="height: 16vh; background-color: orange;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 g-0">
                    <div style="background-color: black; height: 145px;"></div>
                </div>
                <div class="col-4 align-self-center">
                    <h2 class="lh-1 text-white fw-bold">Title</h2>
                    <span class="fw-bold text-white">Subtitle</span>
                </div>
                <div class="col-5 align-self-center">
                    <div class="container-fluid text-center">
                        <form class="row align-items-start g-1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="col-4">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="bi bi-person-fill text-warning "></i></span>
                                    <input type="text" class="form-control" formControlName="username"
                                        placeholder="ID Pengguna" aria-label="ID Pengguna"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="bi bi-lock-fill text-warning "></i></span>
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-warning fw-semibold text-white"><i class="bi bi-box-arrow-in-right"></i>
                                    Masuk</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div style="background-color: brown; height: 4vh;"></div>
    <app-slider [images]="images" [interval]="interval"></app-slider>
</div>