<table class="table table-striped table-bordered">
	<thead>
		<tr>
			@for(column of columns; track column.columnName) {
				<th scope="col" [attr.colspan]="column.colspan">{{column.columnName}}</th>
			}
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<!-- @for (country of countries; track country.name) {
			<tr>
				<th scope="row">{{ country.id }}</th>
				<td>
					<img
						[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
						[alt]="'The flag of ' + country.name"
						class="me-2"
						style="width: 20px"
					/>
					{{ country.name }}
				</td>
				<td>{{ country.area | number }}</td>
				<td>{{ country.population | number }}</td>
				<td class="d-flex flex-row gap-2">
					<button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></button>
					<button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"></i></button>
					<button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-x-lg"></i></button>
				</td>
			</tr>
		}
		 -->
		@for(list of listData; track list) {
			<tr>
				@for(data of list; track data) {
					@if (!data.isImageLink && !data.isClickable && !data.isPopOver && !data.isDate) {
						<td>{{data.value}}</td>
					} @else if (data.isImageLink) {
						<td>
							<img
							[src]="'https://upload.wikimedia.org/wikipedia/commons/' + data.value"
							[alt]="'The flag of ' + data.value"
							class="me-2"
							style="width: 20px"
						/>
					}
				}
				<td class="d-flex flex-row gap-2">
					<button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"></i></button>
					<button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></button>
					<button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-x-lg"></i></button>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshCountries()"
		size="sm"
		[maxSize]="5" 
		[boundaryLinks]="true" 
	>
	</ngb-pagination>
</div>